<li class="russianpochta-block">
    <style>
        .icon16.russianpochta{
            background: url({$wa_app_static_url}plugins/russianpochta/img/russianpochta16.png); 
        }
    </style>
    <a class="russianpochta-open-dialog" href="?plugin=russianpochta&module=order&action=dialog&order_num={$order.id}"><i class="icon16 russianpochta"></i>Почта России</a>

    <div style="display: none;" id="russianpochta-dialog"></div>

    <script type="text/javascript">
        $(document).ready(function () {
            var p = $('<div></div>').append($('#russianpochta-dialog'));
            p.appendTo('body');

            $('.russianpochta-open-dialog').click(function () {
                if ($('#russianpochta-dialog .dialog-content-indent').length) {
                    $('#russianpochta-dialog .dialog-content-indent').html('<i class="icon16 loading"></i>');
                } else {
                    $('#russianpochta-dialog').html('<i class="icon16 loading"></i>');
                }
                var dialog = $('#russianpochta-dialog').waDialog({
                    disableButtonsOnSubmit: false,
                    buttons: $('<input type="submit" class="button green" value="Закрыть">').click(function () {
                        dialog.trigger('close');
                    }),
                    onSubmit: function (d) {

                        return false;
                    }
                });
                $.ajax({
                    type: 'GET',
                    url: $(this).attr('href'),
                    dataType: 'html',
                    success: function (html) {
                        if ($(html).find('.dialog-window').length) {
                            $('#russianpochta-dialog').html(html);
                        } else {
                            $('#russianpochta-dialog .dialog-content-indent').html(html);
                        }
                    }
                });
                return false;
            });
        });
    </script>
</li>
